body {
    font-size: 16px;
    font-weight: 500;
}

header {     
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
      
h1 {font-size: 150%;}
.hello {display: inline;}
h2 {font-size: 130%;}


h3 {
    font-size: 70%;
    word-spacing: 0;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 85, 85, 0.4)), to(rgba(85, 85, 85, 0.8)));
    background-image: linear-gradient(to bottom right, rgba(85, 85, 85, 0.4), rgba(85, 85, 85, 0.8));
    padding: 15px;
    font-weight: 300;
}
    

    
 .mobile-nav-icon {
    display: inline;
    width: 5%;
    height: auto;
    position: absolute;
    top: 20px;
    right: 20px;
}
.main-nav {
    display: none;
    position: absolute;
    top: 20px;
    right: 40px;
}

ul {
    list-style: none;
    height: 200px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    -webkit-box-pack: space-evenly;
    justify-content: space-between;
}
    
.hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px;
}
 

.smile {
    margin-left: 20px;
    width: 7%;
}

.avtor {
    width: 150px;
    border-radius: 30px;
    display: inline;
}

p {
    font-size: 14px;
    margin: 7px 3px;
    line-height: 1.5;
    display: inline-block;
}
    /* --------------------------------------- */
/* WORKS*/
/* --------------------------------------- */

.section-works {
    padding: 40px 0;
    color: #FFF;
}

.portfolio img {
    width: 80%;
    display: block;
    margin: 40px auto;    
 }


.bolloons {
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}


/* --------------------------------------- 
/* BLOG*/
/* --------------------------------------- */
.section-blog {
    text-align: left;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(254, 167, 12, 0.51)), color-stop(rgba(93, 205, 7, 0.4)), color-stop(rgba(249, 88, 121, 0.5)), to(rgba(252, 207, 0, 0.49)));
    background-image: linear-gradient(to left, rgba(254, 167, 12, 0.51), rgba(93, 205, 7, 0.4), rgba(249, 88, 121, 0.5), rgba(252, 207, 0, 0.49));
    padding: 20px;
}

.post_box {
    margin: 50px auto;
}
/* --------------------------------------- 
/* feedback*/
/* --------------------------------------- */

.section-feedback {
    margin-top: 50px;
    padding: 0;
    margin-bottom: 0;
}
/* --------------------------------------- */
/*FOOTER*/
/* --------------------------------------- */

footer {
    background-color: #555;
    padding: 50px;
    font-size: 80%;
}
